body {
    color: cadetblue;
}

h1 {
    color: linen;
    text-align: center;
    border: 5px solid lavender;
    padding: 20px;
    margin: 5px;
    box-shadow: 10px yellowgreen;
    width: 600px;
    background-color:thistle;
}

h1:hover {
    color: lavender;
}

p {
    color: burlywood;
}

img {
    margin: 15px;
    padding: 5px;
    width: 400px;
    border: 3px solid skyblue;
    float: right;
}

img:hover {
    transform: rotate(10deg);
}