body {
    color: cadetblue;
}

h1 {
    color: linen;
    text-align: center;
    border: 5px solid lavender;
    padding: 20px;
    margin: 5px;
    box-shadow: 10px yellowgreen;
    width: 600px;
    background-color:thistle;
}

.yarn-intro {
    border: 5px solid goldenrod;
    color: seagreen;
    width: 600px;
    padding: 20px;
    margin: 5px;
}

#yarn-pile {
    border: 2px solid grey;
    height: 80px;
    width: 120px;
    margin: 2px;
    padding:2px;
    float: none;
}

#yarn-pile:hover {
    transform: rotate(-15deg);
}

h1:hover {
    color: lavender;
}

p {
    color: goldenrod;
}

#towel-heading {
    text-align: center;
    color: rgb(233, 56, 189)
}

ol {
    border: 3px solid rgb(233, 56, 189);
}

img {
    margin: 15px;
    padding: 5px;
    width: 400px;
    border: 3px solid skyblue;
    float: right;
}

#towel {
    margin: 30px;
    padding: 0px;
    width: 80px;
    border: 5px solid pink;
    float: left;
}


img:hover {
    transform: rotate(10deg);
}

/* Attribute selector: Links with "ipsum" anywhere in the URL */
a[href*="ipsum"] {
    color: greenyellow;
  }